.section{
    display: flex;
    /* width: 500px; */
    justify-content: space-between;
    border: 1px solid grey;
    align-items: center;
    padding: 5px;
    height: 90px;
    cursor: pointer;
}