.main_section{
    /* display: 'flex', justifyContent: 'space-between', width: 'inherit', margin: '30px' */
    display: flex;
    justify-content: space-between;
    width: inherit;
    margin: 30px;
}

@media screen and (max-width: 767px){
    .main_section{
        display: grid;
        place-content: center;
        margin: 0;
        width: 100%;
        padding: 30px;
    }
}

@media screen and (min-width: 768px){
    .search_section{
        flex-grow: 1;
    }
    .map_section{
        flex-grow: 4;
        margin-left: 20px;
    }
}